@font-face {
    font-family: 'SF PRO DISPLAY';
    src: url("/fonts/SFPRODISPLAYREGULAR.woff") format("woff");
}

/* Media queries - Navigation menu */
@media screen and (min-width: 300px) {
    .logo img {
        width: 240px;
        height: 140px;
    }

    nav, #hamburger-menu {
        display: none;
        position: absolute;
        background: rgb(23,23,23);
        background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(226,226,226,1) 33%); 
        margin-top: 8px;
        z-index: 1;
    }

    .fa-bars {
        display: flex;
        justify-content: center;
        font-size: 20px;
        margin-top: 10px;
        gap: 6px;
        cursor: pointer;
    }

    .menu-text {
        font-size: 20px;
        cursor: pointer;
        font-family: "SF PRO DISPLAY";
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        padding: 8px;
        margin-left: 70px;
    }

    nav li {
        margin: 18px 34px;
    }
}

    /* Media queries - Home Page */
    @media screen and (min-width: 300px) {
    .container-slider, .welcome-container p, .explorer-container span {
        display: none;
    }

    .welcome-container h1 {
        font-size: 26px;
        margin-left: 100px;
        margin-right: 100px;
        padding-top: 60px;
        margin: 0 auto;
        word-break: break-all;
    }

    .explorer-container h1 {
        margin-top: 70px;
        margin-bottom: 40px;
        font-size: 46px;
        letter-spacing: .05rem;
        padding-top: 40px;
    }

    .explorer-container p {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 22px;
        letter-spacing: .05rem;
    }

    .explore-images img {
        width: 310px;
        height: 190px;
        border-radius: 8px;
    }

    .explore-images {
        width: 300px;
        gap: 22px;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .discover-container h1 {
        font-size: 48px;
        margin-top: 0px;
        margin-bottom: 60px;
        padding-top: 200px;
    }

    .discover-container p {
        font-size: 32px;
    }

    .fa-brands {
        font-size: 50px;
        padding: 0px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 600px) {
    .logo img {
        max-width: 380px;
        max-height: 380px;
        width: auto;
        height: auto;
    }

    #hamburger-menu, .fa-bars, .welcome-container p, .container-slider {
        display: none;
    }

    nav {
        display: flex;
        position: relative;
    }

    nav ul {
       display: flex;
       flex-direction: row;
       justify-content: center;
       margin: 0;
       padding: 0;
    }
    
    nav li {
        display: flex;
        align-items: center;
        padding: -20px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 17px;
    }

    .welcome-container h1 {
        font-size: 38px;
        letter-spacing: .01rem;
        padding-top: 60px;
    }

    .explorer-container h1 {
        margin-top: 70px;
        margin-bottom: 40px;
        font-size: 46px;
        letter-spacing: .05rem;
        padding-top: 40px;
    }

    .explorer-container p {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 22px;
        letter-spacing: .05rem;
    }

    .explore-images img {
        width: 240px;
        height: 160px;
        border-radius: 12px;
    }

    .explore-images {
        width: 500px;
        gap: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .discover-container h1 {
        font-size: 52px;
        margin-top: 0px;
        padding-top: 200px;
    }

    .discover-container p {
        font-size: 40px;
    }

    .fa-brands {
        font-size: 62px;
        padding: 2px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 800px) {
    .logo img {
        max-width: 460px;
        max-height: 460px;
        width: auto;
        height: auto;
    }

    #hamburger-menu, .fa-bars {
        display: none;
    }
    
    nav li {
        font-size: 24px;
    }

    .welcome-container h1 {
        justify-content: center;
        margin: 0 auto;
        font-size: 46px;
        letter-spacing: .02rem;
        padding-top: 80px;
    }

    .welcome-container p {
        display: block;
        margin-top: 116px;
        display: flex;
        justify-content: center;
        font-size: 22px;
        letter-spacing: .03rem;
    }

    .container-slider {
        display: flex;
        width: 100%;
        min-height: 90vh;
        align-items: center;
        justify-content: center;
        margin-top: -140px;
        gap: 0.5rem;
    }
    
    .container-images {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 700px;
    }
    
    .container-images img {
        display: flex;
        width: 660px;
        height: 420px;
        border-radius: 14px;
        margin-top: 42px;
    }
    
    .slider {
        opacity: 0;
        transition: opacity .4s;
        position: absolute;
        width: 100%;
    }
    
    .on {
        opacity: 1;
    }
    
    #prev-button, #next-button {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        background-color: transparent;
    }
    
    #prev-button img, #next-button img {
        width: 100%;
        height: 100%;
    }
    
    #prev-button {
        transform: rotate(180deg);
    }

    .explorer-container p {
        display: none;
    }

    .explorer-container span {
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 22px;
        letter-spacing: .05rem;
        display: flex;
        justify-content: center;
    }

    .explore-images img {
        width: 380px;
        height: 220px;
        border-radius: 14px;
    }

    .explorer-container h1 {
        margin-top: 0px;
        margin-bottom: 60px;
        font-size: 52px;
        letter-spacing: .08rem;
        padding-top: 60px;
    }
    
    .explore-images {
        width: 600px;
        gap: 28px;
    }

    .discover-container h1 {
        font-size: 60px;
        letter-spacing: .08rem;
        margin-top: 70px;
        margin-bottom: 250px;
        margin-bottom: 100px;
        padding-top: 170px;
    }

    .discover-container p {
        font-size: 50px;
    }

    .fa-brands {
        font-size: 74px;
        padding: 20px;
        margin-top: 20px;
    }
}

/* Media queries - Contact Page */
@media screen and (min-width: 300px) {
    .container {
        max-width: 480px;
        width: 88%;
        margin-top: 150px;
        margin-bottom: 398px;
    }

    .header {
        padding: 21px;  
    } 

    .message {
        width: 42%;
    }
}

@media screen and (min-width: 600px) {
    .container {
        max-width: 520px;
        margin-top: 100px;
        margin-bottom: 350px;
    }

    .header {
        padding: 23px;  
    } 

    .message {
        width: 38%;
    }
}

@media screen and (min-width: 800px) {
    .container {
        max-width: 600px;
        margin-top: 130px;
        margin-bottom: 270px;
    }

    .header {
        padding: 26px;
    }
    
    .message {
        width: 26%;
    }
}

/* Media queries - About Us Page */
@media screen and (min-width: 300px) {

}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 800px) {

}

/* Media queries - Blogposts Page */
@media screen and (min-width: 300px) {
    .h1-destinations {
        font-size: 24px;
    }

    .blogposts img {
        height: 420px;
        width: 310px;
        margin-bottom: -60px;
    }

    .blogposts p {
        width: 310px;
        height: 160px;
        margin-top: 18px;
    }
}

@media screen and (min-width: 600px) {
    .h1-destinations {
        font-size: 28px;
    }

    .blogposts img {
        height: 520px;
        width: 380px;
        margin-bottom: -80px;
    }

    .blogposts p {
        width: 380px;
        height: 160px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 800px) {
    .h1-destinations {
        font-size: 34px;
    }

    .container-posts {
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        margin-right: -280px;
    }

    .blogposts {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }

    .blogposts img {
        width: 100%;
        height: 550px;
        width: 380px;
    }

    .title {
        margin-left: -420px;
    }

    .blogposts img {
        max-height: 350px;
        max-width: 520px;
        margin-bottom: 8px;
    }

    .blogposts p {
        width: 370px;
        height: 180px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }  

    .blogText {
        font-size: 16px; 
    }
}

/* Media queries - Blogdetails Page */
@media screen and (min-width: 300px) {
    .blog-details img {
        height: 200px;
        width: 330px;
    }

    .blog-details-text {
        max-width: 270px;
        font-size: 18px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 600px) {
    .blog-details img {
        height: 360px;
        width: 580px;
    }

    .blog-details-text {
        max-width: 490px;
        font-size: 19px;
        margin-top: 60px;
    }
}

@media screen and (min-width: 800px) {
    .blog-details img {
        height: 450px;
        width: 800px;
    }

    .blog-details-text {
        max-width: 600px;
        font-size: 20px;
        margin-top: 80px;
    }
}

