@font-face {
    font-family: 'SF PRO DISPLAY';
    src: url("/fonts/SFPRODISPLAYREGULAR.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(23,23,23);
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(226,226,226,1) 33%); 
    font-family: 'SF PRO DISPLAY', Tahoma, Arial, sans-serif;
}

header {
    margin-bottom: 12px;
}

.logo img {
    max-width: 460px;
    max-height: 460px;
    width: auto;
    height: auto;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

/* NAV */
nav {
    margin-top: 10px;
    padding-bottom: 8px;
}

nav a {
    text-decoration: none;
    color: #171717;
    font-family: "SF PRO DISPLAY";
}

a:hover {
    color: rgb(235, 156, 10);
    transition: 1s;
}

nav li {
    margin: 0 30px;
    list-style: none;
}

#hamburger-menu {
    display: none;
  }
  
#hamburger-menu:checked ~ nav {
    display: block;
  }

.underline {
    text-decoration: underline 1.8px orange;
}

/* Home Page */
.welcome-container p {
    font-weight: bold;
    color: #323232;
}

.welcome-container h1 {
    align-items: center;
    margin: 0 auto;
    color: #171717;
}

.explorer-container {
    margin-bottom: 100px;
    margin-top: -20px;
}

.explorer-container p {
    font-weight: bold;
    color: #323232;
}

.explorer-container h1, .h1-destinations, .explorer-container p, .welcome-container h1, .connect-container h1 {
    display: flex;
    justify-content: center;
}

.explore-images {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 0;
}

.explore-images img {
    display: flex;
}

.discover-container {
    padding-bottom: 10px;
    margin-top: 0px;
    padding-top: -250px;
}

.discover-container h1 {
    color: #ffffff;
    font-size: 52px;
    letter-spacing: .08rem;
    text-shadow: #171717 1.5px -1px;
    margin-top: -250px;
}

.discover-container {
    background: url("/images/greg-rakozy.jpg");
    background-size: cover;
    position: relative;
    background-position-x: center;
    background-position-y: center;
    min-height: 100vh;
    margin-top: 0px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

.connect-container {
    padding-top: 50px;
}

.connect-container h1 {
    font-size: 52px;
    letter-spacing: .08rem;
    padding-top: 150px;
}

.connect-container p {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .05rem;
    color: rgb(235, 156, 10);
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 200px;
    gap: 50px;
  }
  
  .fa-brands {
    font-weight: bold;
    color: rgb(235, 156, 10);
  }

  .footer-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #171717;
    color: #ffffff;
    font-size: 16px;
  }

/* About Page */
.test {
    background: url("/images/greg-rakozy.jpg");
    background-size: cover;
    position:relative;
    background-position-x: top;
    background-position-y: center;
    min-height: 95vh;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.test h1 {
    color: #ffffff;
    font-size: 90px;
    text-shadow: #171717 1.5px -1px;
    margin-top: 70px;
}

/* Contact us */
.container {
    background-color: #ffffff;
    border-radius: 14px;
    box-sizing: 0 3px 5px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 22px;
}

.header {
    text-align: center;
    color: #171717;
}

.form {
    display: flex;
    flex-direction: column;
    padding-left: 18px;
    padding-right: 18px;
}

label {
    display: block;
    margin-bottom: 4px;
}

input, .form-content textarea {
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #c8c8c8;
}

textarea {
    margin-bottom: 3px;
}

input::placeholder, textarea::placeholder {
    color: grey;
}

.form button {
    background-color: #00c3ff;
    color: #ffffff;
    width: 80%;
    border-radius: 14px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 18px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.form-error {
    display: none;
    color: #ff3b25;
    font-size: 0.8rem;
    margin-top: 2px;
}

button:disabled {
    background: linear-gradient(#323232, #6d6a6a);
}

.message {
    margin-top: 135px;
    background-color: green;
    padding: 0.6rem;
    color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin: 0 auto;
    text-align: center;
}

/* Blog */
.h1-destinations {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 22px;
    letter-spacing: .01rem;
}

.blogposts p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 530px;
    height: 160px;
    margin: 0 auto;
    text-decoration: none;
    margin-bottom: 30px;
}

.blogposts-container {
    display: flex;
    justify-content: center;

}

.blogposts {
    display: flex;
    flex-direction: column;

   
}

.blogposts img {
    width: 100%;
    max-height: 350px;
    max-width: 520px;
    object-fit: contain;
    cursor: pointer;
}

.blogposts a {
    text-decoration: none;
    color: #171717;
    cursor: default;
}

.load-more {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 15px 10px 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgb(235, 156, 10);
    color:#ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

#load-more:hover {
    background-color: transparent;
    color: orange;
    transition: all 0.2s ease-in-out;

}

.title {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin: 0 auto;
    margin-top: 4px;
    cursor: pointer;
}

.title:hover {
    color: rgb(235, 156, 10);
    transition: 1s;
}








