@font-face {
    font-family: 'SF PRO DISPLAY';
    src: url("/fonts/SFPRODISPLAYREGULAR.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(23,23,23);
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(226,226,226,1) 33%); 
    font-family: 'SF PRO DISPLAY', Tahoma, Arial, sans-serif;
}

header {
    margin-bottom: 12px;
}

.logo img {
    max-width: 460px;
    max-height: 460px;
    width: auto;
    height: auto;
}

.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

.explorer-container h1, 
.h1-destinations, 
.explorer-container p, .welcome-container h1, .connect-container h1, .about-us {
    display: flex;
    justify-content: center;
}

.error {
    border: 1px solid darkred;
    padding: 1rem;
    color: rgb(116, 25, 36);
    background: rgba(255, 0, 0, 0.1);
    margin: 0 auto;
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 10px;
    padding-bottom: 8px;
}

nav a {
    text-decoration: none;
    color: #171717;
    font-family: "SF PRO DISPLAY";
}

li a:hover {
    color: rgb(235, 156, 10);
    transition: 1s;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
 }

nav li {
    display: flex;
    align-items: center;
    padding: 0px;
    margin-top: 0;
    margin-bottom: 0;
    margin: 0 30px;
    list-style: none;
}

#hamburger-menu {
    display: none;
  }
  
#hamburger-menu:checked ~ nav {
    display: block;
  }

.underline {
    text-decoration: underline 1.8px orange;
}

/* Home Page */
.welcome-container {
    background: rgb(23,23,23);
    background: linear-gradient(90deg, rgba(23,23,23,1) 0%, rgba(226,226,226,1) 33%); 
}

.welcome-container p, .explorer-container p {
    font-weight: bold;
    color: #323232;
}

.welcome-container h1 {
    color: #171717;
}

.explorer-container {
    margin-bottom: 100px;
    margin-top: -20px;
}

.explorer-container span {
    font-weight: bold;
    color: #323232;
}

.explore-images {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto;
    margin-bottom: 0;
}

.explore-images img {
    display: flex;
}

.discover-container h1 {
    color: #ffffff;
    text-shadow: #171717 1.5px -1px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.discover-container p {
    display: flex;
    justify-content: center;
    color: #ffffff;
    text-shadow: #171717 1.5px -1px;
}

.discover-container a {
    text-decoration: none;
}

.discover-container {
    background: url("/images/greg-rakozy.jpg");
    background-size: cover;
    position: relative;
    background-position-x: center;
    background-position-y: center;
    min-height: 100vh;
    margin-top: 0px;

}

.connect-container {
    padding-top: 50px;
}

.connect-container a {
    text-decoration: none;
}

.connect-container h1 {
    color: #171717;
    font-size: 52px;
    letter-spacing: .08rem;
    padding-top: 150px;
}

.connect-container p {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: .05rem;
    color: rgb(235, 156, 10);
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 200px;
    gap: 50px;
}
  
.fa-brands {
    font-weight: bold;
    color: rgb(235, 156, 10);
}

/* About Us Page */
.about-us {
    margin-top: 90px;
    margin-bottom: 70px;
    font-size: 36px;
    letter-spacing: .01rem;
}

.about-us-container {
    background: url("/images/greg-rakozy.jpg");
    background-size: cover;
    position:relative;
    background-position-x: top;
    background-position-y: center;
    min-height: 95vh;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.about-us-container p {
    color: #ffffff;
    width: 800px;
    font-size: 20px;
    word-break: break-all;
}

.explore-about-us {
    color: #ffffff;
    font-size: 60px;
    text-shadow: #171717 1.5px -1px;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* Contact us */
.container {
    width: 100%;
    background-color: #ffffff;
    border-radius: 14px;
    box-sizing: 0 3px 5px;
    margin: 0 auto;
    padding-bottom: 22px;
}

.header {
    text-align: center;
    color: #171717;
}

/* Blogposts */
.h1-destinations {
    margin-top: 90px;
    margin-bottom: 70px;
    letter-spacing: .01rem;
}

.blogposts p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-decoration: none;
}

.blogposts-container {
    display: flex;
    justify-content: center;
}

.blogposts img {
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    margin: 0 auto;
}

.blogposts a {
    text-decoration: none;
    color: #171717;
    cursor: default;
}

.load-more {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 15px 10px 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: rgb(235, 156, 10);
    color:#ffffff;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

#load-more:hover {
    background-color: transparent;
    color: orange;
    transition: all 0.3s ease-in-out;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 26px;
    margin: 0 auto;
    margin-top: 4px;
    cursor: pointer;
}

/*Blogposts details*/
.blog-details img {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 100px;
    cursor: zoom-in;
}

.blog-details-text {
    margin: 0 auto;
}

/*Footer*/
.footer-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #171717;
    color: #ffffff;
    font-size: 16px;
    margin-top: 100px;
  }








